<!DOCTYPE html>

<html lang="=pt-br"
	  xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">


<head>
	<meta charset="utf-8">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<title>House Market - Relatório</title>
	<script type="text/javascript" th:src="@{/js/jquery-3.2.0.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/jquery.autocomplete.js}"></script>

	<!-- Compiled and minified JavaScript -->
	<script type="text/javascript" th:src="@{/js/materialize.min.js}"></script>

	<!--Import materialize.css-->
	<!--<link type="text/css" rel="stylesheet" th:href="@{/css/materialize.min.css}" media="screen,projection"/>-->
	<!--Import Google Icon Font-->
	<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	
</head>

<body>

<div class="p-3 mb-2 bg-primary text-white">

	<div class="container-fluid">

		<ul class="nav nav-pills nav-fill">
			<li class="nav-item"><img src="..\images\housemarket.png" width="160px" height="60px" alt="House Market"></li>
			
			<li class="nav-item"><h1>House Market</h1></li>
			
			<li class="nav-item">
					<a href="index" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Página Inicial</a>
				</li>
				
				<li class="nav-item">
					<a href="cadastro-anuncio" class="btn btn-primary btn-lg" role="button" aria-pressed="true">Anunciar</a>
				</li>
				
				<li class="nav-item" sec:authorize="isAuthenticated()">
					<a class="btn btn-primary btn-lg" role="button" aria-pressed="true" th:href="@{/perfil-anunciante}">Minha Conta</a>

				</li>
				
				<li class="nav-item" sec:authorize="isAuthenticated()">
					<a class="btn btn-primary btn-lg" role="button" aria-pressed="true" th:href="@{/logout}">Logout</a>
				</li>
				
				<li class="nav-item" sec:authorize="isAnonymous()">
					<a class="btn btn-primary btn-lg" role="button" aria-pressed="true" th:href="@{/cadastro-anunciante}">Cadastro Anunciante</a>
				</li>
				
				<li class="nav-item" sec:authorize="isAnonymous()">
                    <a class="btn btn-primary btn-lg" role="button" aria-pressed="true" th:href="@{/cadastro-cliente}">Cadastro Cliente</a>
                </li>
				
				<li class="nav-item" sec:authorize="isAnonymous()">
					<a class="btn btn-primary btn-lg" role="button" aria-pressed="true" th:href="@{/login}">Login</a>
				</li>
		</ul>
	</div>

</div>

<div class="container">

	<h1 align="center">Relatório</h1>
	<hr>
	<div th:object="${tipo}" th:object2="${tipoTemplate}">
		<ul class="nav nav-pills nav-fill">
			<li class="nav-item"><h1>Exportar: </h1></li>

			<li class="nav-item">
				<a class="btn btn-outline-secondary" th:href="@{/export-json/{tipo}/{tipoTemplate}(tipo=${tipo}, tipoTemplate=${tipoTemplate})}">JSON</a>
			</li>
			<li class="nav-item">
				<a class="btn btn-outline-secondary" th:href="@{/export-csv/{tipo}/{tipoTemplate}(tipo=${tipo}, tipoTemplate=${tipoTemplate})}}">CSV</a>
			</li>
			<li class="nav-item">
				<a class="btn btn-outline-secondary" th:href="@{/export-txt/{tipo}/{tipoTemplate}(tipo=${tipo}, tipoTemplate=${tipoTemplate})}">TXT</a>
			</li>
		</ul>
	</div>	
	
	<hr>
	<div th:object="${tipo}" th:object2="${tipoTemplate}">
		<ul class="nav nav-pills nav-fill">
			<li class="nav-item"><h5>Formato: </h5></li>

			<li class="nav-item">
				<div class="form-check">
					<!--<input type="radio" th:field="${tipoTemplate}" th:value="'0'" checked="true">-->
					<!--<label th:for="${#ids.prev('tipoTemplate')}">Cabeçalho + Corpo + Rodapé</label>-->

					<input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" th:field="${tipoTemplate}" th:value="'0'" checked/>
					<label class="form-check-label" for="exampleRadios1">
				    	Cabeçalho + Corpo + Rodapé
					</label>
				</div>
			</li>
			<li class="nav-item">
				<div class="form-check">
					<input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" th:field="${tipoTemplate}" th:value="'1'"/>
					<label class="form-check-label" for="exampleRadios2">
						Rodapé + Corpo + Cabeçalho
					</label>
				</div>
			</li>
			<li class="nav-item">
				<div th:switch="${tipo}">
					<p th:case="'Aluguel'"><a class="btn btn-outline-secondary btn-sm" th:href="@{/relatorio-aluguel/{tipoTemplate}(tipoTemplate=${tipoTemplate})}">ATUALIZAR</a></p>
					<p th:case="'Venda'"><a class="btn btn-outline-secondary btn-sm" th:href="@{/relatorio-venda/{tipoTemplate}(tipoTemplate=${tipoTemplate})}">ATUALIZAR</a></p>
				</div>
			</li>
		</ul>
	</div>

	<hr>
	<div>
		<span th:if="${tipoTemplate}=='0'">
			<div th:object="${tipo}">
				<h5> Tipo do Relatório - <a class="label" th:text="${tipo}"/></h5>
			</div>
			<hr>

			<div th:object="${usuario}">
				<h5>Anunciante - <a class="label" th:text="${usuario}"/></h5>
			</div>
		</span>
		<span th:if="${tipoTemplate}=='1'">
			<table>
				<tr th:object="${total}">

					<td>
						<div class="btn-outline-dark btn-lg active">
							<a class="label" th:text="Total"/>
						</div>
					</td>

					<td>
						<div class="btn btn-danger btn-lg active">
							<span>R$ &nbsp<a class="label" th:text="${total}"/></span>
						</div>
					</td>
				</tr>
			</table>
		</span>
	</div>
	<hr>
	<hr>
	<table class="container">
		<thead>
		<tr>
			<th><h4>Título do anúncio</h4></th>
			<th><h4>Preço</h4></th>
		</tr>
		</thead>
	
		<tr>
			<td>
				<hr>
			</td>
		</tr>
	
		<tbody>
			<tr th:each="anuncio : ${anunciosFavoritos}">
				
				<td th:text="${anuncio.titulo}"></td>
				<td>
					<span>R$ &nbsp<a class="label" th:text="${anuncio.preco}"/></span>
				</td>
	
			</tr>
			
		</tbody>
		
		<tr>
			<td>
				<hr>
			</td>
		</tr>
	</table>
	<div>
		<span th:if="${tipoTemplate}=='1'">
			<div th:object="${tipo}">
				<h5> Tipo do Relatório - <a class="label" th:text="${tipo}"/></h5>
			</div>
			<hr>
			<div th:object="${usuario}">
				<h5>Anunciante - <a class="label" th:text="${usuario}"/></h5>
			</div>
		</span>
			<span th:if="${tipoTemplate}=='0'">
			<table>
				<tr th:object="${total}">
					<td>
						<div class="btn-outline-dark btn-lg active">
							<a class="label" th:text="Total"/>
						</div>
					</td>
					<td>
						<div class="btn btn-danger btn-lg active">
							<span>R$ &nbsp<a class="label" th:text="${total}"/></span>
						</div>
					</td>
				</tr>
			</table>
		</span>
	</div>
</div>

<div class="p-3 mb-2 bg-primary text-white">
	<div class="container-fluid">
		<h5>House Market- Anuncie seu imóvel aqui</h5>
		<p>&copy; 2018 Copyright - Todos os direitos reservados</p>
	</div>
</div>


<!--<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>

</html>